node_modules
/dist

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/demo/node_modules
/demo/.pnp
/demo.pnp.js

# testing
/coverage
/demo/coverage

# next.js
/demo/.next/
/demo/out/

# production
/demo/build

# misc
.DS_Store
/demo/.DS_Store
*.pem

# debug
/demo/npm-debug.log*
/demo/yarn-debug.log*
/demo/yarn-error.log*
/demo/.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
/demo/.vercel

# typescript
/demo/*.tsbuildinfo
/demo/next-env.d.ts

test_page/public/sdk

.eslintcache
